/* @import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Dongle&family=Satisfy&display=swap'); */
 
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Aref Ruqaa Ink', serif; */
}

@layer base {
  :root {
    /* Define your CSS variables as channels with no color space function */
    --color-primary: 25, 91, 151;     /* #195b97 */
    --color-primary-light:  42, 42, 42  ;          /* #2a2a2a */
    --color-secondary: 150, 150, 150;      /* #969696 */
    --color-orange: 238, 110, 23; /*  #ee6e17 */
    --color-light: 255, 255, 255; /* #ffffff */
    /* ... */
  }
}
